html{
    background-color: #ffffff;
    overflow: scroll;
}

*{
    margin: 0;
    overflow-wrap: anywhere;
}

.bar{
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 48px;
    background-color: #02bcc9cc;
    top: 0;
    height: 48px;
    padding: 10px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

.st{
    margin-top: 78px; /* 10 48 20 */
}

.p{
    margin: 30px;
}

.div{
    /* margin: 10%; */
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Times New Roman', Times, serif;
}