*{
    margin: 0;
    overflow-wrap: anywhere;
    font-size: 16px;
}

html{
    background-color: #ffffff;
    overflow: scroll;
}

button{
    background-color: #02bcc9cc;
    border: 0;
}

a{
    text-decoration: 0;
    color: #ffffffcc;
}

.bar{
    color: black;
    text-align: left;
    font-family: monospace;
    font-size: 2em;
    background-color: #02bcc9;
    top: 0;
    /* height: 2.5%; */
    /* padding: 1.5%; */
    padding: 0.5em;
    /* padding-top: 0.5em; */
    /* padding-bottom: 0.5em; */
    /* padding-left: 2.5em; */
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

.return{
    position: -webkit-sticky;
    position: sticky;
    bottom: 5%;
    right: 5%;
    text-align: end;
    padding-right: 2.5%;
}

/* .st{
    margin-top: 78px;
} */

/* .p{
    margin: 30px;
} */

.stdiv{
    padding-top: 4.5em;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.div{
    /* margin: 10%; */
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Times New Roman', Times, serif;
}

