*{
    margin: 0;
    overflow-wrap: anywhere;
    font-size: 16px;
}

html{
    background-color: #ffffff;
    color: #000000;
    overflow: scroll;
    scroll-behavior:smooth
}

body{
    background-color: #ffffff;
}

button{
    text-align: center;
    justify-content: center;
    background-color: #02bcc9;
    border: 0;
    border-radius: 1em;
    font-size: 1em;
    /* padding: 0.5em; */
    width: 3.5em;
    height: 3.5em;
    a{
        color: #ffffff;
    }
}

button:hover{
    /* background-color: #22dce9; */
    opacity: 0.75;
}

a{
    text-decoration: 0;
    color: #000000;
}

header{
    background-color: #02bcc9;
    padding-top: 1em; 
    padding-left: 1em;
    padding-bottom: 1em;
    top: 0;
    width: 100%;
    position: fixed;
    h1{
        text-align: left;
        font-family: monospace;
        font-size: 2em;
        justify-content: space-between;
        pointer-events: none;
        vertical-align: middle;
    }
    nav{
        top: 1em;
        right: 2.25em;
        position: absolute;
        ul{
            list-style-type: none;
        }
        li{
            padding-left: 0.75em;
            padding-right: 0.75em;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            
        }
        .now{
            /* font-weight: bold; */
            border-bottom: medium dashed #000000;
        }
    }
}

li:hover{
    font-weight: bold;
    color: #555555;

}

.now:hover{
    border-color: #555555;
}

@keyframes scroll-anim{
    0%{
        opacity: 0;
        translate: 0 0;
    }
    1%{
        opacity: 1;
        translate: 0 0;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}

.return{
    animation: scroll-anim linear;
    animation-timeline: scroll();
    position: -webkit-sticky;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    text-align: end;
    /* padding-right: 25%; */
    /* padding-right: 4.5em; */
    a:hover{
        opacity: 0.75;
    }
}

.st{
    padding-top: 4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    margin-bottom: -3.5em;
    font-family: 'Times New Roman', Times, serif;
}

.contents{
    padding-top: 4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    margin-bottom: -3.5em;
    font-family: 'Times New Roman', Times, serif;
}